<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="card my-3 book-card" style="max-width: 540px" th:fragment="book-card(addBookUri, removeBookUri)">
    <div class="row g-0 m-0">
        <div class="col-md">
            <div class="card-header">
                <h4><a th:href="@{/book(id=${book.getId()})}" th:text="${book.getTitle()}" style="text-decoration: none; color: #212529"></a></h4>
            </div>
            <div class="card-body">
                <p class="card-text">Author: <a th:href="@{/author(id=${book.getAuthor().getId()})}" th:text="${book.getAuthor().getFullName()}"></a></p>
                <p class="card-text" th:text="'Published in: ' + ${book.getPublishingYear()}"></p>
                <p class="card-text" th:text="'Description: ' + ${book.getDescription()}"></p>
                <div sec:authorize="isAuthenticated()">
                    <form th:if="${!#lists.contains(userBooks, book)}" th:action="@{${addBookUri}}" method="post">
                        <input type="submit" class="btn btn-warning" value="Add">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    </form>
                    <div th:if="${#lists.contains(userBooks, book)}">
                        <p>This is your favorite book!</p>
                        <form th:action="@{${removeBookUri}}" method="post">
                            <input type="submit" class="btn btn-secondary" value="Remove">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="book-review" class="my-3 bordered">
    <div class="d-flex flex-row justify-content-between" style="background-color: #eaeaea">
        <h4 class="m-0 px-1 py-2"th:text="${review.getUser().getUsername()}"></h4>
<!--        <p class="m-0 d-inline" style="text-align: center"><a th:text="Delete" class="mx-2 p-0"></a></p>-->
<!--        <p class="m-0 d-inline" style="text-align: center"><a th:text="Edit" class="mx-2 p-0"></a></p>-->
        <div class="d-flex align-items-center">
            <!--<a th:if="${#authentication.getName().equals(review.getUser().getUsername()) ||
                        #authentication.getAuthorities().contains('ROLE_ADMIN') ||
                        #authentication.getAuthorities().contains('ROLE_MODERATOR') }" th:text="Delete" class="d-inline mx-2"></a>-->
<!--            <a sec:authorize="hasRole('ADMIN', 'MODERATOR') || ${#authentication.getName().equals(review.getUser().getUsername())}" th:text="Delete" class="d-inline mx-2"></a>-->
            <a th:text="Delete" th:href="@{/deleteReview}" sec:authorize="hasRole('ADMIN', 'MODERATOR')"></a>
            <a th:text="Delete" sec:authorize="hasRole('USER')" th:if="${#authentication.getName().equals(review.getUser().getUsername())}"></a>
            <a th:if="${#authentication.getName().equals(review.getUser().getUsername())}" th:text="Edit" class="d-inline mx-2"></a>
        </div>
    </div>
    <p th:text="${review.getText()}" class="p-3" style="background-color: #f4f4f4"></p>
</div>

</html>