<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/search.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <table class="table thead-dark table-striped table-bordered container-md">
        <caption class="caption-top">Found books</caption>
        <thead class="table-warning">
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Author</td>
                <td>Publishing year</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getId()}"></td>
                <td>
                    <a th:text="${book.getTitle()}" th:href="@{/book(id=${book.getId()})}"></a>
                </td>
                <td>
                    <a th:href="@{/author(id=${book.getAuthor().getId()})}" th:text="${book.getAuthor().getFullName()}"></a>
                </td>
                <td th:text="${book.getPublishingYear()}"></td>
            </tr>
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>